%h1 Create New Movie

= render :partial => "shared/flash", :locals => { :flash => flash }
= form_tag movies_path do
	= render :partial => "form"
	= submit_tag 'Create Movie', :class => "btn btn-inverse"