.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{ :href => root_path } Ben's Potatoes
			.nav-collapse
				%ul.nav.pull-right
					%li
						%a{ :href => movies_path } Movies
					%li
						%a{ :href => about_path } About
					%li
						%a{ :href => todo_path } Todo