%h1 About Ben's Potatoes
%br

%p
	Idea: IMDB > Rotten Tomatoes > Rotten Potatoes > <a href="https://github.com/sicophrenic/benspotatoes"> Ben's Potatoes</a>
%br

%h3 Troubleshooting

%dl
	%dt
		%i.icon-wrench
		Potatoes not sprouting after watering (Movies not appearing after a search)? Potatoes sprouting even if you didn't water them (Movies being incorrectly included in a search)?
	%dd Try moving to a new farm before seeding and watering it again (Reset your movie searches by clicking the <a href="/movies?nuke=nuke">All Movies</a> link)!