%h1 About Ben's Potatoes
%br

%p
	Idea: IMDB > Rotten Tomatoes > Rotten Potatoes > Ben's Potatoes

%dl.dl-horizontal
	%dt
		Github
	%dd
		%a{ :href => "https://github.com/sicophrenic/benspotatoes" }
			Source code repository
	%dt
		Trello
	%dd
		%a{ :href => "https://trello.com/board/ben-s-potatoes/4fbeb678785be25b6313b13a" }
			Primary task tracker
	%dt
		Teambox
	%dd
		%a{ :href => "https://teambox.com/#!/projects/benspotatoes" }
			Movie addition tracker
	%dt
		Pivotal Tracker
	%dd
		%a{ :href => "https://github.com/sicophrenic/benspotatoes" }
			Archived task tracker
%br

%h3 FAQ

%dl
	%dt
		What does the "Click to Reset" button really do?
	%dd
		Resets all searches to the following:
		%ul
			%li All Ratings
			%li All Locations
			%li All Qualities
			%li Any Title
			%li Any Director
			%li 20 Movies Per Page
			%li Sort By Title Ascending
	%dt
		How come selecting none of the checkboxes for any of the checkbox fields ends up reverting my selection to my most recent choice?
	%dd
		Why would you need to select none of the above for any of the filters? You're so silly.

%h3 Troubleshooting

%dl
	%dt
		%i.icon-exclamation-sign
		Potatoes not sprouting after watering (Movies not appearing after a search)? Potatoes sprouting even if you didn't water them (Movies being incorrectly included in a search)?
	%dd
		Try moving to a new farm before seeding and watering it again (Reset your movie searches by clicking the <a href="/movies?nuke=nuke">All Movies</a> link)!
	%dt
		%i.icon-exclamation-sign
		Potatoes not being filtered after examining a specific potato (Filtered results not preserved)?
	%dd
		Some filters can't be preserved (Sort by headers not a preserved trait)!
	%dt
		%i.icon-exclamation-sign
		Unable to visit your farm (/me not working for you)?
	%dd
		Ben has been notified. If you'd like to keep touring Ben's farm, visit <a href="/me/removequeue?toremove=empty">this link</a> to temporarily fix the issue!
	%dt
		%i.icon-exclamation-sigh
		Potatoes don't have any pictures and I can't figure out what they look like (Movie posters always defaulting to 'No Poster Available')?
	%dd
		It's something Ben is actively working to resolve. Hopefully it will get fixed soon!