%h1 About Ben's Potatoes
%br

%p
	Idea: IMDB > Rotten Tomatoes > Rotten Potatoes > <a href="https://github.com/sicophrenic/benspotatoes"> Ben's Potatoes</a>
%br

%h3 Hints

%dl
	%dt
		What does the "Click to Reset" button really do?
	%dd
		Resets all searches to the following:
		%ul
			%li All Ratings
			%li All Locations
			%li All Qualities
			%li Any Title
			%li Any Director
			%li 20 Movies Per Page
			%li Sort By Title

%h3 Troubleshooting

%dl
	%dt
		%i.icon-exclamation-sign
		Potatoes not sprouting after watering (Movies not appearing after a search)? Potatoes sprouting even if you didn't water them (Movies being incorrectly included in a search)?
	%dd
		Try moving to a new farm before seeding and watering it again (Reset your movie searches by clicking the <a href="/movies?nuke=nuke">All Movies</a> link)!