%h1 TODO For Ben's Potatoes
%br

.container-fluid
	.row-fluid
		.span2
			.tabbable.tabs-left
				%ul.nav.nav-tabs
					%li
						%a{ "href" => "#1A", "data-toggle" => "tab" }Backend
					%li
						%a{ "href" => "#1B", "data-toggle" => "tab" }Frontend
					%li
						%a{ "href" => "#1C", "data-toggle" => "tab" }Miscellaneous
		.span10
			.tab-content
				.tab-pane#1A
					%h3 Backend
					%dl
						%dt
							%i.icon-user
							Users
						%dd Creation of User profiles and accounts to track activity
						%dt
							%i.icon-th-list
							Movie Details
						%dd Incorporate additional movie details (actors?, revenue?)
						%dt
							%i.icon-facetime-video
							Television
						%dd Add tv shows as separate functionality similar to movies
				.tab-pane#1B
					%h3 Frontend
					%dl
						%dt
							%i.icon-picture
							Movie Quality
						%dd Identify movie entries in table by quality
				.tab-pane#1C
					%h3 Miscellaneous
					%dl
						%dt
							%i.icon-cog
							Security
						%dd Prevent any accessor from modifying data
						%dt
							%i.icon-search
							Advanced Search
						%dd Provide a form for more specific and refined movie searching (Director, Actors?, Release Date)