@import "variables";

table tr td.low
{
	color: @warningText;
}
table tr td.med
{
	color: @successText;
}
table tr td.high
{
	color: @errorText;
}
table tr th#hilite
{
	background-color: @grayLighter;
}
#edit_btn
{
width: 75px;
}
#delete_btn
{
width: 75px;
}
#all_btn
{
width: 75px;
}
#queue_btn
{
width: 75px;
}

.movie-poster
{
	width: 150px;
}

#generate_field
{
	float: left;
	position: relative;
}
#generate_button
{
	margin-left: 10px;
}

.username
{
  color: #369BD7;
  text-align: center;
}